@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');
/*Select all elements*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body sets background picture and font-family and design */

body {
  background-image: url("/assets/images/backgroundmain.jpg");
background-repeat: no-repeat;
background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
}


/*sets how the cards show on the page*/
section {
  display: grid;
  grid-template-rows: repeat(4, 12rem);
  grid-template-columns: repeat(6, 12rem);
  perspective: 800px; 
  grid-gap: 1rem;
}
/*styling of the cards used*/
.card {
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  transform: rotateY(0deg);
}

.face,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/*image and styling of the back of the card*/
.back {
background-image: url("/assets/images/backcards.PNG");
background-position: center;
backface-visibility: hidden;
}
/*rotates card 180 degrees*/
.toggleCard {
  transform: rotateY(180deg);
}

    /* The landing page background picture and style*/
#firstPage{
  background: url(/assets/images/firstpageback.jpg) center center no-repeat;
  background-size: cover;
  
  /*design for landing page image that moves */
}
#swing{  
  text-align:center;
  cursor:pointer;
  
}
#swing img{
  display:block;
  width:80vw;
  max-width:700px;
  height:auto;
  transition:0.2s
  
}
#swing a{
  display:block;
  font-size:3em;
  color:black;
  font-weight:800;
  text-decoration:none;
  background:rgba(0,0,40,0);
  padding:5px 15px;
  transition:0.4s
}
#swing:hover a{  
  color:rgba(200,80,50,1);
  text-shadow:2px 5px 0 rgba(0,0,0,0.6)
}

/*design for The twitter link */

a {
  color:rgba(0, 255, 0, 0.69);
  text-decoration:none; 
  cursor: crosshair;
  font-size: xx-large;
  list-style-type: none;
  }

  a:hover {
    background-color: yellow;
  }

  /*countdown timer style*/
  #countdowntimer {
    font-size:30px;
   
  }

  /*made by tobias styling of text*/
  h2 {
    font-size:30px;
    text-align: center;
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes blink {
    from {
        color:black;
    }
    to {
        color:greenyellow;
    }
}





