body {
    background-color: #FF8D33;
    height: 100vh;
}

section {
    display: flex;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 2px;
    justify-content: center;
    flex-wrap: wrap;
    
  }