@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/images/backgroundmain.jpg");
background-repeat: no-repeat;
background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
}



section {
  display: grid;
  grid-template-rows: repeat(4, 12rem);
  grid-template-columns: repeat(6, 12rem);
  perspective: 800px; 
  grid-gap: 1rem;
}

.card {
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  transform: rotateY(0deg);
}

.face,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.back {
background-image: url("/assets/images/backcards.PNG");
background-position: center;
backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
}
    
#firstPage{
  background: url(/assets/images/firstpageback.jpg) center center no-repeat;
  background-size: cover;
  
}
#brand{  
  text-align:center;
  cursor:pointer;
  
}
#brand img{
  display:block;
  width:80vw;
  max-width:700px;
  height:auto;
  transition:0.2s
  
}
#brand a{
  display:block;
  font-size:3em;
  color:black;
  font-weight:800;
  text-decoration:none;
  background:rgba(0,0,40,0);
  padding:5px 15px;
  transition:0.4s
}
#brand:hover a{  
  color:rgba(200,80,50,1);
  text-shadow:2px 5px 0 rgba(0,0,0,0.6)
}

a {
  color:rgba(0, 255, 0, 0.69);
  text-decoration:none; 
  cursor: crosshair;
  font-size: xx-large;
  list-style-type: none;
  }

  a:hover {
    background-color: yellow;
  }

  #countdowntimer {
    background:#3b5277;
    color:#FFF;
    text-align:center;
    width:400px;
    height:100px;
    line-height:100px;
    font-size:30px;
    margin:100px auto;
    border:5px solid #fff
  }






